<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
  
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>

    <meta name="description" content="">

    {% include 'meta-tags', layout: 'theme' %}

    {%- if request.page_type contains 'customers/' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}

    {{ 'theme.scss' | asset_url | stylesheet_tag }}    
    {{ 'theme.js' | asset_url | script_tag }}

    {{ content_for_header }}
  </head>

  <body class="transition-opacity opacity-0 relative bg-dark-green">
    {% section 'header' %}

    {{ content_for_layout }}
    
    {% section 'footer' %}
  </body>
</html>
